# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
c-intro/bad-float
c-intro/bad-float.c~
c-intro/bad-int
c-intro/bad-int.c~
c-intro/calculation
c-intro/hello
c-intro/hello.c~
c-intro/hello2
c-intro/rechnung.c~
c-intro/strlen-example
c-intro/strlen-example.c~
