# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
.#*
#*#

c-intro/bad-float
c-intro/bad-float.c~
c-intro/bad-int
c-intro/bad-int.c~
c-intro/calculation
c-intro/hello
c-intro/hello.c~
c-intro/hello2
c-intro/rechnung.c~
c-intro/strlen-example
c-intro/strlen-example.c~
c-intro/iterative-factorial
c-intro/iterative-factorial-o2
c-intro/iterative-factorial.c~
c-intro/recursive-factorial
c-intro/recursive-factorial-o2
c-intro/recursive-factorial.c~
c-intro/static-example
c-intro/static-example.c~
c-intro/tail-recursive-factorial
c-intro/tail-recursive-factorial-o2
c-intro/tail-recursive-factorial.c~
c-intro/variables-example.c~
c-intro/#static-example.c#
c-intro/array-list
c-intro/array-list.c~
c-intro/array-list.h~
c-intro/core
c-intro/include/index.html
c-intro/index.html
c-intro/interative-fibonacci.c~
c-intro/iterative-caching-fibonacci
c-intro/iterative-caching-fibonacci.c~
c-intro/iterative-factorial-by-reference
c-intro/iterative-factorial-by-reference.c~
c-intro/iterative-fibonacci
c-intro/iterative-fibonacci.s
c-intro/lib/array-list.c~
c-intro/lib/index.html
c-intro/output.dat
c-intro/print-squares
c-intro/print-squares.c~
c-intro/recursive-caching-fibonacci
c-intro/recursive-caching-fibonacci.c~
c-intro/recursive-factorial.s
c-intro/recursive-fibonacci
c-intro/recursive-fibonacci.c~
c-intro/tail-recursive-caching-fibonacci
c-intro/tail-recursive-caching-fibonacci.c~
c-intro/tail-recursive-factorial-by-reference
c-intro/tail-recursive-factorial-by-reference-o2
c-intro/tail-recursive-factorial-by-reference.c~
c-intro/tail-recursive-fibonacci
c-intro/tail-recursive-fibonacci-02.s
c-intro/tail-recursive-fibonacci.s
c-intro/tail-recursvie
c-intro/test/array-list-test
c-intro/test/array-list-test.c~
c-intro/test/index.html
c-intro/variables-example
c-intro/iterative-factorial.s
c-intro/print-squares.s
include/index.html
lib/array-list.c~
lib/index.html
processes/demoexec
processes/demoexec.c~
processes/forktest
processes/forktest.c~
processes/simpson
processes/simpson.c~
processes/stack
processes/stack.c~
test/array-list-test
test/array-list-test.c~
test/index.html
#tmp.c#
processes/fork+named-pipe
processes/fork+named-pipe.c~
processes/pipe
processes/pipe.c~
#tmp.c#
processes/cstart-simpson
processes/cstart-simpson.c~
processes/start-simpson~
processes/thread-example
processes/thread-example.c~
processes/thread-factorial
processes/thread-factorial.c~
processes/thread-mutex
processes/thread-mutex.c~
c-intro/polymorphical-simpson
c-intro/polymorphical-simpson.c~
include/cyclic-buffer.h~
include/cyclic-int-buffer.h~
lib/cyclic-int-buffer.c~
test/cyclic-int-buffer-test
test/cyclic-int-buffer-test.c~
polymorphie/polymorphical-simpson
test/cyclic-int-buffer-run
test/cyclic-int-buffer-run.c~
polymorphie/polymorphical-shapes
polymorphie/polymorphical-shapes.c~
memory/malloc-gross-net-sizes
memory/malloc-gross-net-sizes.c~
