# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
.#*

c-intro/bad-float
c-intro/bad-float.c~
c-intro/bad-int
c-intro/bad-int.c~
c-intro/calculation
c-intro/hello
c-intro/hello.c~
c-intro/hello2
c-intro/rechnung.c~
c-intro/strlen-example
c-intro/strlen-example.c~
c-intro/iterative-factorial
c-intro/iterative-factorial-o2
c-intro/iterative-factorial.c~
c-intro/recursive-factorial
c-intro/recursive-factorial-o2
c-intro/recursive-factorial.c~
c-intro/static-example
c-intro/static-example.c~
c-intro/tail-recursive-factorial
c-intro/tail-recursive-factorial-o2
c-intro/tail-recursive-factorial.c~
c-intro/variables-example.c~
c-intro/#static-example.c#
c-intro/array-list
c-intro/array-list.c~
c-intro/array-list.h~
c-intro/core
c-intro/include/index.html
c-intro/index.html
c-intro/interative-fibonacci.c~
c-intro/iterative-caching-fibonacci
c-intro/iterative-caching-fibonacci.c~
c-intro/iterative-factorial-by-reference
c-intro/iterative-factorial-by-reference.c~
c-intro/iterative-fibonacci
c-intro/iterative-fibonacci.s
c-intro/lib/array-list.c~
c-intro/lib/index.html
c-intro/output.dat
c-intro/print-squares
c-intro/print-squares.c~
c-intro/recursive-caching-fibonacci
c-intro/recursive-caching-fibonacci.c~
c-intro/recursive-factorial.s
c-intro/recursive-fibonacci
c-intro/recursive-fibonacci.c~
c-intro/tail-recursive-caching-fibonacci
c-intro/tail-recursive-caching-fibonacci.c~
c-intro/tail-recursive-factorial-by-reference
c-intro/tail-recursive-factorial-by-reference-o2
c-intro/tail-recursive-factorial-by-reference.c~
c-intro/tail-recursive-fibonacci
c-intro/tail-recursive-fibonacci-02.s
c-intro/tail-recursive-fibonacci.s
c-intro/tail-recursvie
c-intro/test/array-list-test
c-intro/test/array-list-test.c~
c-intro/test/index.html
c-intro/variables-example
